.projectcard {
  margin: 2vw 3vw;
}

.projectimage {
  max-width: 35vw;
  object-fit: contain;
  object-position: top;
}

.container {
  display: flex;
  margin-top: 2vw;
}

.projecttext {
  margin-left: 4vw;
}

.linkbox {
  margin: 1vw 0;
}

.link {
  text-decoration: underline;
  color: deepskyblue;
  margin: 2vw 1vw 0 0;
}
