.banner {
  background-image: url("../public/homebanner.jpg");
  height: 15rem;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.maintext {
  font-weight: 300;
  font-style: italic;
  font-size: 3rem;
  padding: 2rem 0rem 0rem 2rem;
  margin: 0px;
}

.subtext {
  display: inline;
  padding: 0rem 0rem 0rem 3rem;
}

.introtext {
  margin: 1vw 3vw;
  font-size: large;
}

.loadingtext {
  margin: 5vw 45vw;
}
